.discovery-layout__content {
  &:has(.sidebar-discovery) {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 300px);
    column-gap: var(--space-5);
  }

  &__sidebar {
    margin-block: 1.5rem;
  }
}

.sidebar-discovery {
  &__layout {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }
}
